<div class="base" style="width:100% ;background-color:rgb(255, 255, 255);display:flex;flex-direction:column;">

  <div class="col-xl-6 d-flex justify-content-center pt-5 pb-5 ">
    <div class="btn-group btn-group-toggle w-25 sales" style="height:fit-content;">
      <button id="daily" class="btn btn-primary active" onclick="histogram(1,'daily')">Daily</button>
      <button id="weekly" class="btn btn-primary " onclick="histogram(7,'weekly')">Weekly</button>
      <button id="monthly" class="btn btn-primary " onclick="histogram(30,'monthly')">Monthly</button>
      <button id="yearly" class="btn btn-primary " onclick="histogram(365,'yearly')">Yearly</button>
    </div>
  </div>
  <div id="root">
    <div class="container" style="margin-left:170px; width: 71%;">
      <div class="row align-items-stretch">
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Orders<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count" id="totalOrders">

            </span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Placed Orders<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count" id="placedOrders">

            </span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Delivered
              Orders<svg class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
                role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count" id="deliveredOrders">

            </span>
          </div>
        </div>
        <div class="c-dashboardInfo col-lg-3 col-md-6">
          <div class="wrap">
            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Amount<svg
                class="MuiSvgIcon-root-19" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
                </path>
              </svg></h4><span class="hind-font caption-12 c-dashboardInfo__count" id="totalAmount">

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <canvas id="order" style="width:100%;max-width:600px;margin-left: 18%; margin-top: 10%;"></canvas>
    <canvas id="payment" style="max-width:400px; margin:5%"></canvas>
    {{!-- <canvas id="user" class="mt-4" style="m0argin-left: 18%; margin-top: 10%;"></canvas> --}}
  </div>

</div>
<style>
  .c-dashboardInfo {
    margin-bottom: 15px;
  }

  .c-dashboardInfo .wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px 25px 20px;
    height: 100%;
  }

  .c-dashboardInfo__title,
  .c-dashboardInfo__subInfo {
    color: #6c6c6c;
    font-size: 1.18em;
  }

  .c-dashboardInfo span {
    display: block;
  }

  .c-dashboardInfo__count {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 64px;
    color: #323c43;
  }

  .c-dashboardInfo .wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
  }

  .c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }

  .c-dashboardInfo:nth-child(2) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
  }

  .c-dashboardInfo:nth-child(3) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }

  .c-dashboardInfo:nth-child(4) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
  }

  .c-dashboardInfo__title svg {
    color: #d7d7d7;
    margin-left: 5px;
  }

  .MuiSvgIcon-root-19 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }
</style>


<div class="d-flex">
  <canvas id="order" style="width:100%;max-width:600px;margin-left: 18%; margin-top: 10%;"></canvas>
  <canvas id="payment" style="max-width:400px; margin:5%"></canvas>
  {{!-- <canvas id="user" class="mt-4" style="m0argin-left: 18%; margin-top: 10%;"></canvas> --}}
</div>