<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Form-v6 by Colorlib</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Font-->
  <link rel="stylesheet" type="text/css" href="css/nunito-font.css">
  <!-- Main Style Css -->
  <link rel="stylesheet" href="css/style.css" />
</head>

<body class="form-v6">
  <div class="page-content">
    <div class="form-v6-content">
      <div class="form-left">
        <img src="https://wallpapercave.com/wp/wp3736435.jpg" alt="form">
      </div>
      <form class="form-detail" action="/user/login" method="post">
        
        <h2>Login</h2>
        {{#if loginErr}}
        <h5 class="err" style="color: rgb(245, 63, 63);">{{loginErr}}</h5>
        {{/if}}
        {{!-- <div class="form-row">
          <input type="text" name="name" id="full-name" class="input-text" placeholder="Your Name" required>
        </div>
        <div class="form-row">
          <input type="phone" name="phone" id="comfirm-password" class="input-text" placeholder="Phone No" required>
        </div> --}}
        <div class="form-row" style="">
          <input type="text" name="email" id="your-email" class="input-text" placeholder="Email Address" required
            pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
        </div>
        <div class="form-row">
          <input type="password" name="password" id="password" class="input-text" placeholder="Password" required>
        </div>

        <div class="form-row-last">
          <input type="submit" name="register" class="register" value="login">
        </div>
          <div style="margin-left: 190px;">
        <a href="/user/signup">Register Account</a>

              

          </div>
          <div style="margin-left: 190px;margin-top:20px;">
            <a href="/user/forgot-password">Forgott Password</a>
          
          
          </div>
          <div style="margin-left: 190px;margin-top:20px;">
            <a href="/user/otp-login">Login with Otp</a>


          </div>
        
       
      </form>
    </div>
  </div>
  <style>
    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-LightItalic.ttf') format('truetype');
      font-weight: 300;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
      font-weight: bold;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
      font-weight: 200;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-BlackItalic.ttf') format('truetype');
      font-weight: 900;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
      font-weight: 600;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
      font-weight: 300;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-ExtraLight.ttf') format('truetype');
      font-weight: 200;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
      font-weight: 800;
      font-style: italic;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
      font-weight: 800;
      font-style: normal;
    }

    @font-face {
      font-family: 'Nunito';
      src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }


      {
        {
        !----
      }
    }


    body {
      margin: 0;
    }

    .page-content {
      width: 100%;
      margin: 0 auto;
      background-image: -moz-linear-gradient(136deg, rgb(0, 0, 70) 0%, rgb(28, 181, 224) 100%);
      background-image: -webkit-linear-gradient(136deg, rgb(0, 0, 70) 0%, rgb(28, 181, 224) 100%);
      background-image: -ms-linear-gradient(136deg, rgb(0, 0, 70) 0%, rgb(28, 181, 224) 100%);
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      -o-justify-content: center;
      -ms-justify-content: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -o-align-items: center;
      -ms-align-items: center;
      -moz-align-items: center;
      -webkit-align-items: center;
    }

    .form-v6-content {
      background: #fff;
      width: 968px;
      border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      margin: 180px 0;
      font-family: 'Nunito', sans-serif;
      color: #fff;
      font-weight: 700;
      position: relative;
      display: flex;
      display: -webkit-flex;
    }

    .form-v6-content .form-left {
      margin-bottom: -6px;
    }

    .form-v6-content .form-left img {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .form-v6-content .form-detail {
      padding: 30px 40px;
      position: relative;
      width: 100%;
    }

    .form-v6-content .form-detail h2 {
      color: #333;
      font-size: 35px;
      text-align: center;
      position: relative;
      padding: 6px 0 0;
      margin-bottom: 47px;
    }

    .form-v6-content .form-row {
      width: 100%;
    }

    .form-v6-content .form-detail .form-row-last {
      text-align: center;
    }

    .form-v6-content .form-detail .input-text {
      margin-bottom: 35px;
    }

    .form-v6-content .form-detail input {
      width: 92%;
      padding: 0px 15px 10px 15px;
      border: 2px solid transparent;
      border-bottom: 2px solid #e5e5e5;
      appearance: unset;
      -moz-appearance: unset;
      -webkit-appearance: unset;
      -o-appearance: unset;
      -ms-appearance: unset;
      outline: none;
      -moz-outline: none;
      -webkit-outline: none;
      -o-outline: none;
      -ms-outline: none;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #333;
    }

    .form-v6-content .form-detail .form-row input:focus {
      border-bottom: 2px solid #fe892a;
    }

    .form-v6-content .form-detail .register {
      background: #fe892a;
      border-radius: 6px;
      -o-border-radius: 6px;
      -ms-border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      width: 160px;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
      -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
      border: none;
      margin: 11px 0 50px 0px;
      cursor: pointer;
      font-family: 'Nunito', sans-serif;
      color: #fff;
      font-weight: 700;
      font-size: 18px;
    }

    .form-v6-content .form-detail .register:hover {
      background: #e37b27;
    }

    .form-v6-content .form-detail .form-row-last input {
      padding: 13px;
    }

    input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #666;
      font-size: 16px;
    }

    input::-moz-placeholder {
      /* Firefox 19+ */
      color: #666;
      font-size: 16px;
    }

    input:-ms-input-placeholder {
      /* IE 10+ */
      color: #666;
      font-size: 16px;
    }

    input:-moz-placeholder {
      /* Firefox 18- */
      color: #666;
      font-size: 16px;
    }

    /* Responsive */
    @media screen and (max-width: 991px) {
      .form-v6-content {
        margin: 180px 20px;
        flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
      }

      .form-v6-content .form-left {
        width: 100%;
      }

      .form-v6-content .form-left img {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
      }

      .form-v6-content .form-detail {
        padding: 30px 20px 30px 20px;
        width: auto;
      }

      .form-v6-content .form-detail .form-row input {
        width: 96%;
      }

      .form-v6-content .form-detail .register {
        margin-bottom: 80px;
      }
    }

    @media screen and (max-width: 767px) {
      .form-v6-content .form-detail .form-row input {
        width: 94%;
      }
    }

    @media screen and (max-width: 575px) {
      .form-v6-content .form-detail .form-row input {
        width: 89%;
      }
    }
  </style>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>



{{!-- <div class="image"></div>
<div class="sign-in">
  <h1>Sign In</h1>
  <form  action="/user/login" method="post">
       {{#if loginErr}}
        <h5 class="err" style="color: rgb(245, 63, 63);" >{{loginErr}}</h5>
        {{/if}}
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <a href="/user/signup">Account ?</a>
    <a href="/user/otp-login">Forgot password?</a>
    <input type="submit" value="Sign In">
  </form>
</div>
<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.image {
  background: url(https://wallpaperaccess.com/full/4581235.jpg)
    rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  flex: 1;
}

.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

input[type="email"]:hover::placeholder,
input[type="password"]:hover::placeholder {
  color: #000;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  border-radius: 15px;
}

input[type="submit"]:hover {
  background-color: #eee;
  color: #000;
}

a {
  color: #424242;
  text-decoration: none;
  align-self: flex-end;
}

a:hover {
  text-decoration: underline;
}

::selection {
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 786px) {
  .image {
    display: none;
  }
}


</style> --}}
